/* HouseDetailsPage.css */
.house-details-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.house-details {
  flex: 0 0 65%;
  /* Левая колонка занимает 65% ширины */
}

.house-details img {
  width: 100%;
  height: auto;
}

.house-details p {
  font-size: 16px;
  margin-bottom: 10px;
}

.recommendations {
  flex: 0 0 30%;
  /* Правая колонка занимает 30% ширины */
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recommendations iframe {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  border: none;
}

@media (max-width: 768px) {
  .house-details-container {
    flex-direction: column;
    gap: 10px;
  }

  .house-details {
    flex: 0 0 100%;
    /* На мобильных устройствах левая колонка занимает всю ширину */
  }

  .recommendations {
    flex: 0 0 100%;
    /* На мобильных устройствах правая колонка также будет занимать всю ширину */
    margin-top: 20px;
  }

  .recommendations iframe {
    height: 250px;
    /* Высота рекламы на мобильных устройствах */
  }
}